/* robot font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* tailwindcss and daisyui import */
@import "tailwindcss";
@plugin "daisyui";

html {
  scroll-behavior: smooth;
}
@theme {
  --font-roboto: "Roboto", "serif";
  --text-heading: "";
}
@layer components {
  .link-list {
    @apply relative z-10 cursor-pointer px-5 py-2 text-white uppercase mix-blend-difference;
  }
  .section-heading {
    @apply text-3xl font-bold sm:text-4xl md:text-5xl;
  }
}
